@media (min-width: 992px) {
    .header-navigation {
        padding: 0 40px;
    }
}

@media (min-width: 768px) {
    .header-navigation {
            padding: 0 32px;
    }
}

@media (min-width: 480px) {
    .header-navigation {
        padding: 0 24px;
    }
}

.contacts {
    background-color: rgb(247, 241, 241);
    font-size: 14px;
    font-weight: 400;
    color: var(--main-text-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 10px;
}

@media screen and (max-width: 991px) {
    .contacts {
        display: none;
    }
}

.contacts a {
    text-decoration: none;
    color: var(--main-text-color);
    padding-top: 6px;
}

@media screen and (min-width: 991px) {
    .contacts-burger {
        display: none;
    }
}

.navbar-brand {
    color: var(--main-text-color);
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.contacts a:hover {
    text-decoration: underline;
}

.contacts-inner {
    padding-top: 10px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3 {
    font-family: Montserrat, sans-serif;
    font-size: 32px;
    font-weight: 700;
    /*color: var(--main-text-color);*/
}

.header-navigation {
    padding-top: 20px;
    padding-bottom: 20px;
}

/*.container a {
    text-decoration: none;
}*/

.navigation {
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.container {
    display: flex;
    /*flex-direction: row;*/
    justify-content: center;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    
}

.header-nav__menu {
    display: flex;
    flex-direction: column;
}

@media (min-width: 990px) {
    .header-nav__menu {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        flex: 1;
    }
}

.header-nav__logo {
    margin-left: 15px;
    margin-right: 15px;
}

.header-nav__menu {
    margin-left: 15px;
    margin-right: 15px;
    /*display: flex;
    /*flex-direction: row;
    align-items: center;
    justify-content: space-around;*/
}

.header-nav__menu-item {
    color: var(--main-text-color);
}

.header-nav__menu-item:hover {
    text-decoration: underline;
    color: rgb(0, 110, 255);
}

.header-nav__button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    padding: 0.35em 1.2em;
    border: 0.1em solid rgb(43, 111, 236);
    margin: 0 0.3em 0.3em 0;
    border-radius: 0em;
    color: var(--background-color);
    background-color: rgb(43, 111, 236);
    text-decoration: none;
    text-align: center;    
}

.btn:hover {
    background-color: rgb(28, 28, 240);
    cursor: pointer;
}

.navbar {
    font-family: 'Poppins', sans-serif;
    display: block;
}

.navbar-nav {
    text-align: center;
}

.navbar-nav-list a:hover {
    text-decoration: underline;
    color: rgb(0, 110, 255);
}

